.imgLogo{
    width: 180px;
    height: auto;
    display: inline-block
}


.navItem{
    color: rgb(128, 73, 180);
}

.navItem:hover{
    color: rgb(226, 144, 178);
    font-weight: bold;
}

.botonBusqueda{
    background-color: rgb(255, 169, 183);
    border-color: rgb(255, 134, 201);
    color: white;
}

.botonBusqueda:hover{
    background-color: rgb(255, 83, 126);
    border-color: rgb(114, 12, 46);
    color: white;
}

.imgCarrusel{
    height: 80vh;
    object-fit: cover;
}

.botonCartas{
    background-color: rgb(107, 197, 219);
    border-color: rgb(59, 70, 168);
    color: white;
}

.botonCartas:hover{
    background-color: rgb(255, 83, 126);
    border-color: rgb(114, 12, 46);
    color: white;
}








/* MEDIA QUERIES */



@media only screen and (max-width: 767px){
    .footerFlex .d-flex{display: flex;flex-direction: column;}
    }

    .d-flex {
        display: flex;
        flex-direction: column;
    }

    


    @media only screen and (min-width: 1024px){
        .navbar-expand-lg .navbar-collapse{justify-content: flex-end;}
        .footerFlex{display: flex;justify-content: space-around;}

        .d-flex {
            display: flex;
            flex-direction: row;
        } 
    }